<div id="pictureCarousel" class="carousel slide jumbotron">
  <div class="container">
    <ol class="carousel-indicators">
      <li class="active" data-target="#picturesCarousel" data-slide-to="0"></li>
      <li data-target="#picturesCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner centerImg">
      <div class="item active centerImg">
        <img class="images carouselImg" src="https://thenypost.files.wordpress.com/2014/09/bear1.jpg?quality=90&strip=all&w=664&h=441&crop=1" alt="Grizzly Bear waving hello" />
      </div>
      <div class="item centerImg">
        <img class="images carouselImg" src="/img/bee.jpg" alt="A bee" />
      </div>
      <div class="item centerImg">
        <img class="images carouselImg" src="/img/boom.jpg" alt="A bomb" />
      </div>
      <div class="item centerImg">
        <img class="images carouselImg" src="/img/flowers.jpg" alt="Sunflowers" />
      </div>
      <div class="item centerImg">
        <img class="images carouselImg" src="/img/star.jpg" alt="A colorful star" />
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#pictureCarousel" data-slide="prev"></a>
        <span class="icon-prev"></span>
  <a class="right carousel-control" href="#pictureCarousel" data-slide="next"></a>
  <span class="icon-next"></span>
</div>

  <header>
    <nav class="nav-main_sticky">
      <div class="nav-container">
        <div class="socialIcons">
          <img class="socialIcon" src="/img/magnifying-glass.png">
          <p class="socialIcon">|</p>
          <img class="socialIcon" src="/img/facebook.png">
          <img class="socialIcon" src="/img/twitter.png">
          <img class="socialIcon" src="/img/pinterest.png">
          <img class="socialIcon" src="/img/instagram.png">
        </div>
        <div class="threeLines">
          <img class="lines pull-left" src="/img/3lines.png">
        </div>
        <div class="bustleLogo">
          {{#link-to 'index'}}<img class="bustleImg" src="/img/logo.png">{{/link-to}}
        </div>
      </div>
    </nav>
  </header>
  {{outlet}}
  <hr>
